<div class="container">
    <h2>Employee Details</h2>
    <table class="table">
        <tbody>
            <tr>
                <th>ID: </th>
                <td *ngIf="!isEditable"> {{employee.id}}</td>
                <td *ngIf="isEditable">
                    <input type="number" class="form-control" [(ngModel)]="employee.id" name="empid" id="empid"
                        #inputEmployeeId="ngModel" minlength="6" maxlength="6">

                    <span [hidden]="inputEmployeeId.valid || inputEmployeeId.pristine" class="">
                        Employee ID must be 6 digits long.</span>
                </td>
            </tr>

            <tr>
                <th>Name: </th>
                <td *ngIf="!isEditable"> {{employee.name}}</td>
                <td *ngIf="isEditable">
                    <input class="form-control" [(ngModel)]="employee.name" name="empname" id="empname"
                        #inputEmployeeName="ngModel" minlength="1" maxlength="45">

                    <span [hidden]="inputEmployeeName.valid" class="">
                        Employee name can not be blank.</span>
                </td>
            </tr>

            <tr>
                <th>Salary: </th>
                <td *ngIf="!isEditable"> {{employee.salary}}</td>
                <td *ngIf="isEditable"><input type="number" class="form-control" [(ngModel)]="employee.salary"></td>
            </tr>

            <tr>
                <th>Department: </th>
                <td> {{employee.currentDepartment.name}}</td>
            </tr>
        </tbody>
    </table>
    <button (click)="toggleEdit()">Edit</button>
    <h2>Asigned Projects</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Client</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let a of employee.assignments; let i = index">

                <td> {{a.id}}</td>
                <td> {{a.name}}</td>
                <td> {{a.customer}}</td>
                <button class="btn btn-sm btn-danger" (click)="deleteProject()">X</button>
            </tr>

        </tbody>
    </table>
    <form *ngIf="isAddProjectVisable" (submit)="addNewProject(pid, pname, pcustomer)">
        <table>
            <tbody>
                <tr>

                        <td><input placeholder="ID" type="text" class="form-control" #pid></td>
                        <td><input placeholder="Name" type="text" class="form-control" #pname></td>
                        <td><input placeholder="Customer" type="text" class="form-control" #pcustomer></td>
                        <td><button type="submit" class="btn btn-sm btn-primary form-control">Save</button></td>

                </tr>
            </tbody>
        </table>
    </form>
    <button *ngIf="!isAddProjectVisable" (click)="toggleAddProject()">Edit</button>
</div>
